
@{
    ViewBag.Title = "AllPetitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br>
    <input type="button" id="getJson" value="Get JSON">
    <br>
    <div id="json"> </div>

    <h2 class="top-buffer bottom-buffer">All Petitions</h2>
        
    <input id="searchbar" class="form-control "type="text" name="search" placeholder="Search by keyword...">
  

    <table id="causesTable" class="table">
       <h3>Popular causes</h3>
              
            <tr class="tableRow">   
                <td class="col-md-4 col-xs-4 hidden-xs"><img  src="~/placeholder-thumbnail.png" class="img-rounded " /></td>
                <td class="col-md-8 col-xs-12 text-left"> 
                    <p class="lead"> Stop Monsato</p>    
                    <div class="hidden-xs"> 
                        <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit 
                            scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed 
                            ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies, 
                            eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

                                    Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam 
                            eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin 
                            libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

                                    Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor 
                            pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse 
                            platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc 
                            volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur 
                            eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc 
                            tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.
                        </p>
                    </div>
                </td>
                <td class="visible-xs">
                    <button class="btn btn-success">View</button>
                </td>
            </tr>
            
            <tr class="tableRow">
                <td class="col-md-4 col-xs-4 hidden-xs"><img src="~/placeholder-thumbnail.png" class="img-rounded " /></td>
                <td class="col-md-8 col-xs-12 text-left">
                    <p class="lead"> Stop Monsato</p>
                    <div class="hidden-xs">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit
                            scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed
                            ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies,
                            eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

                            Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam
                            eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin
                            libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

                            Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor
                            pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse
                            platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc
                            volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur
                            eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc
                            tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.
                        </p>
                    </div>
                </td>
                <td class="visible-xs">
                    <button class="btn btn-success">View</button>
                </td>
            </tr>
            
            <tr class="tableRow">
                <td class="col-md-4 col-xs-4 hidden-xs"><img src="~/placeholder-thumbnail.png" class="img-rounded " /></td>
                <td class="col-md-8 col-xs-12 text-left">
                    <p class="lead"> Stop Monsato</p>
                    <div class="hidden-xs">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit
                            scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed
                            ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies,
                            eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

                            Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam
                            eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin
                            libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

                            Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor
                            pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse
                            platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc
                            volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur
                            eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc
                            tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.
                        </p>
                    </div>
                </td>
                <td class="visible-xs">
                    <button class="btn btn-success">View</button>
                </td>
            </tr>
       
            <tr class="tableRow">
                <td class="col-md-4 col-xs-4 hidden-xs"><img src="~/placeholder-thumbnail.png" class="img-rounded " /></td>
                <td class="col-md-8 col-xs-12 text-left">
                    <p class="lead"> Stop Monsato</p>
                    <div class="hidden-xs">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit
                            scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed
                            ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies,
                            eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

                            Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam
                            eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin
                            libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

                            Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor
                            pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse
                            platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc
                            volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur
                            eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc
                            tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.
                        </p>
                    </div>
                </td>
                <td class="visible-xs">
                    <button class="btn btn-success">View</button>
                </td>
            </tr>

            <tr class="tableRow">
                <td class="col-md-4 col-xs-4 hidden-xs"><img src="~/placeholder-thumbnail.png" class="img-rounded " /></td>
                <td class="col-md-8 col-xs-12 text-left">
                    <p class="lead"> Stop Monsato</p>
                    <div class="hidden-xs">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit
                            scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed
                            ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies,
                            eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

                            Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam
                            eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin
                            libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

                            Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor
                            pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse
                            platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc
                            volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur
                            eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc
                            tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.
                        </p>
                    </div>
                </td>
                <td class="visible-xs">
                    <button class="btn btn-success">View</button>
                </td>
            </tr>
</table>


</div>



