
@{
    ViewBag.Title = "AllPetitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2 class="top-buffer bottom-buffer">All Petitions</h2>
        
    <input id="searchbar" class="form-control "type="text" name="search" placeholder="Search by keyword...">
  

    <table id="causesTable" class="table">
       <h3>Popular causes</h3>
    <!--insert listing from JSON file-->             
    </table>


</div>



