
@{
    ViewBag.Title = "ViewPetition";
}


<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="petition-cover-img  row">
            <img class="img-rounded top-buffer" src="~/img-placeholder.png" />
        </div>

        <div class=" row">
            <h2 class="bottom-buffer  text-center ">Stop Monsanto</h2>
        </div>

        <div class="row signatureCounter ">
            <div class="col-sm-6 col-sm-6 col-xsm-6 col-xs-4 text-center">
                <p class="lead"> <span class="h2 orange-font"> 1000 </span><br />signatures</p>
            </div>

            <div class="col-xs-4 visible-xs">
                <button class="submitSignature btn btn-success  btn-block">Sign</button>
            </div>
            <div class="col-sm-6 col-sm-6 col-xs-4 col-xsm-6 text-center">
                <p class="lead"> <span class="h2 orange-font"> 500</span> <br />comments</p>
            </div>
        </div>

        <div class="row text-center hidden-xs">
            <button class="submitSignature btn btn-success padding-button bottom-buffer-sm btn-block">Sign</button>
            <span id="SignInMessage"></span>
            <span id="alreadySignedMessage"></span>
        </div>

        <div class="row bottom-padding hr text-justify top-buffer-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis nisi diam, et auctor mauris accumsan quis. In ultrices auctor nisl id imperdiet. Cras in ullamcorper libero. Quisque tristique velit scelerisque nunc suscipit, porttitor semper est varius. Quisque a pharetra odio, sed suscipit purus. Sed quis placerat est, dignissim volutpat risus. Donec imperdiet scelerisque mauris porttitor malesuada. Sed ac pretium sapien, ut auctor nunc. Aliquam lacus turpis, condimentum sed pulvinar eget, faucibus et augue. Pellentesque sollicitudin lectus id nulla pulvinar sagittis. Nulla lobortis elit tempus odio ultricies, eu egestas enim euismod. Vivamus orci massa, imperdiet eget consequat vel, porta sed diam. Nulla facilisi.

            <br /><br />Suspendisse mollis augue quis mauris finibus convallis. Cras et feugiat elit, at vulputate orci. Donec pellentesque lobortis eros quis condimentum. Integer sollicitudin auctor est vel pharetra. Aliquam eleifend risus a tellus sagittis, ut consectetur ante lacinia. Proin id urna lectus. Vestibulum euismod, magna vitae convallis ultricies, lorem mi ornare enim, ut cursus libero nisl ac turpis. Nunc pulvinar sollicitudin libero, id finibus arcu elementum vel. Fusce at metus ac augue aliquam ornare sit amet nec ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tristique posuere. Ut vestibulum vel lacus nec tempus.

            <br /><br /> Aenean sed ex leo. Praesent vel leo arcu. Phasellus sit amet dignissim mauris, a fringilla quam. Proin nisl arcu, sagittis faucibus est eu, faucibus imperdiet nunc. Vivamus semper felis tincidunt mi porttitor pulvinar. Fusce sit amet nibh gravida, pretium lorem ullamcorper, lobortis libero. Mauris cursus felis mi, sed consectetur turpis dignissim ut. Vestibulum lobortis dictum nunc, dapibus aliquet magna luctus a. In hac habitasse platea dictumst. Sed eu justo ac orci facilisis fringilla. Sed viverra lobortis orci, quis iaculis nulla volutpat a. Curabitur non ex sed eros iaculis sodales eget at sem. Sed vel purus sodales elit efficitur ullamcorper. Nunc volutpat placerat tincidunt. Quisque sit amet sapien placerat, maximus dolor vitae, ultrices dui. Morbi semper rhoncus urna, quis malesuada tortor fermentum at.

            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sit amet eros non ante interdum rutrum ornare non eros. Vestibulum ultrices tortor a congue ultrices. Nam mauris mi, consectetur eget eleifend non, pulvinar ac quam. In blandit laoreet augue et consequat. Quisque dapibus sapien nec ipsum placerat accumsan. Etiam venenatis ante gravida, maximus neque in, elementum nibh. Nulla fermentum tortor sed nunc tincidunt, molestie maximus arcu dignissim. Phasellus varius dictum sagittis. Sed bibendum quis sem eget malesuada. Quisque in placerat odio, sit amet pretium felis.


        </div>

        <div class="row">

            <h3 class="bottom-buffer">Signatories:</h3>

            <div id="signatories" class="bottom-buffer">
                <span class="rounded">PersonOne</span>
                <span class="rounded">PersonTwo</span>
                <span class="rounded">PersonThree</span>
            </div>

        </div>
    </div>

</div>



