@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    
    <!--home page image-->  
    <div class="col-md-12 headerimg ">
            <h1 > 
                <strong>Make your voice heard</strong>
                <br /> 
                <br />
                <span class="hidden-sm hidden-xs"> Start a petition today to show what you believe in </span>
                <span class="hidden-md hidden-lg">  Create a petition </span>
            </h1> 

        <!--numbered circles representing stages of creating a petition-->
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12 hidden-xs stages" style="position:absolute; top: 75%" >
                
                <!--1-->
                <div class="col-sm-4 col-xs-4 circleRelative"style="padding-right: 0px; padding-left: 0px;">  
                    <div class="numberCircle " >
                        <span>1</span>
                    </div>
                    <div class="steps" >
                        <span ><br />Enter your details</span>
                    </div>
                </div>

                <!--2-->
                <div class="col-sm-4 col-xs-4 circleRelative"style="padding-right: 0px; padding-left: 0px;">
                    <div class="numberCircle">
                        <span>2</span>
                    </div>
                    <div class="steps">
                        <span><br />Create a petition</span>
                    </div>
                </div>

                <!--3-->
                <div class="col-sm-4 col-xs-4 circleRelative"style="padding-right: 0px; padding-left: 0px;">
                    <div class="numberCircle">
                        <span>3</span>
                    </div>
                    <div class="steps">
                        <span><br />Collect signatures</span>
                    </div>
                </div>
                               
            </div>
        </div>      
    </div><!--headerimg-->
 </div>  <!--container-fluid-->

<div class="container ">
    <button class="btn btn-block btn-primary hidden-lg hidden-md hidden-sm top-buffer-sm "> Get started</button>
   
    <div class=" siteDesc top-buffer-sm ">
        <div class="col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-8 row  ">
            <p class="lead text-center padding-button">Get started in three easy steps and join thousands of members who have expressed their objection to unfair, corrupt and damaging businesses and political practices.</p>
        </div>
    </div>

</div>



