
@{
    ViewBag.Title = "PetitionListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 id="searchFormTitle"class="top-buffer bottom-buffer">All Petitions</h2>

    <div class="col-sm-6 searchForm">
        <div class="col-sm-6">
            <form>
                Petition ID:
                <input id="searchPetitionByID" class="form-control " type="text" name="search">
                <input type="submit" class="btn btn-default bottom-buffer" name="searchPetitionByID" value="Search" />
            </form>
        </div>
        <div class="col-sm-6">
            <form>
                User ID:
                <input id="searchPetitionByUserID" class="form-control " type="text" name="search">
                <input type="submit" class="btn btn-default bottom-buffer" name="searchPetitionByUserID" value="Search" />
            </form>
        </div>
    </div>

   
    <table id="AdminCausesTable" class="text-center table ">
        <tr >
            <th class="text-center">Petition ID</th>
            <th class="text-center">Title</th>  
            <th class="text-center">Signatures</th>
            <th class="text-center">Created by</th>
            <th class="text-center">Date created</th>
            <th></th>
        </tr>

    </table>


</div>